#editor-container {
  height: 100%;
  overflow: auto;
  font-family: var(--nw-editor-font-family);
  font-size: var(--nw-editor-font-size);
}

.cm-text-center {
  text-align: center;
}
/* .cm-horizontal-rule { */
/*   position: relative; */
/* } */
/* .cm-horizontal-rule::after { */
/*   content: ''; */
/*   position: absolute; */
/*   top: 50%; */
/*   left: 0; */
/*   border-top: 2px solid #586ea5; */
/*   width: 100%; */
/*   transform: translateY(-50%); */
/* } */
/* .cm-content > .cm-head-relative { */
/*   position: relative; */
/*   box-sizing: border-box; */
/* } */

.hide-scroll-bar *::-webkit-scrollbar {
  display: none;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
