/* custom css variables */
:root {
  --nw-color-whiteAlpha-50: rgba(255, 255, 255, 0.08);
  --nw-color-whiteAlpha-100: rgba(255, 255, 255, 0.16);
  --nw-color-whiteAlpha-200: rgba(255, 255, 255, 0.24);
  --nw-color-whiteAlpha-300: rgba(255, 255, 255, 0.32);
  --nw-color-whiteAlpha-400: rgba(255, 255, 255, 0.4);
  --nw-color-whiteAlpha-500: rgba(255, 255, 255, 0.48);
  --nw-color-whiteAlpha-600: rgba(255, 255, 255, 0.56);
  --nw-color-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --nw-color-whiteAlpha-800: rgba(255, 255, 255, 0.72);
  --nw-color-whiteAlpha-900: rgba(255, 255, 255, 0.8);
  --nw-color-blackAlpha-50: rgba(0, 0, 0, 0.08);
  --nw-color-blackAlpha-100: rgba(0, 0, 0, 0.16);
  --nw-color-blackAlpha-200: rgba(0, 0, 0, 0.24);
  --nw-color-blackAlpha-300: rgba(0, 0, 0, 0.32);
  --nw-color-blackAlpha-400: rgba(0, 0, 0, 0.4);
  --nw-border-radius-sm: 5px;
  --nw-border-radius-md: 10px;
  --nw-border-radius-lg: 15px;
  --nw-box-shadow-sm: 2px 2px 5px #8c8c8c;
  --nw-box-shadow-md: 0px 0px 10px #8c8c8c;
  --nw-box-shadow-lg: 2px 2px 15px #8c8c8c;

  --nw-editor-font-family: 'M PLUS Rounded 1c';
  --nw-editor-code-font-family: 'Hack Nerd Font';
  --nw-ui-font-family: 'M PLUS Rounded 1c';
  --nw-ui-font-size: 16px;
  --nw-editor-font-size: 16px;
}

.test {
  width: auto;
  height: 200px;
  background-color: green;
}

#root {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  -webkit-app-region: drag;
}

#home {
  -webkit-app-region: no-drag;
  height: 100%;
  display: flex;
  font-family: var(--nw-ui-font-family);
}

.home-container {
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #878787;
  font-size: 16px;
}
