.sidebar-main {
  width: 220px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--nw-ui-font-size);
}

@media screen and (max-width: 700px) {
  .sidebar-main {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: var(--nw-box-shadow-lg);
    padding-left: 10px;
    background-color: white;
    z-index: 100;
    border-radius: var(--nw-border-radius-sm);
  }
}

.broadcast-main {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.broadcast-content {
  padding: 10px;
  background-color: var(--nw-color-blackAlpha-50);
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}
.broadcast-content:hover {
  background-color: var(--nw-color-blackAlpha-100);
}

.user-main {
  margin: 10px 0px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
}
.user-content {
  padding: 10px;
  border-radius: 5px;
}
.user-content:hover {
  background-color: var(--nw-color-blackAlpha-50);
}
.icon-hover {
  display: block;
  padding: 5px;
  border-radius: var(--nw-border-radius-sm);
}
.icon-hover:hover {
  background-color: var(--nw-color-blackAlpha-100);
  cursor: pointer;
}

.filesystem-main {
  margin-bottom: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.filesystem-content {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.filesystem-item {
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.filesystem-item:hover {
  background-color: var(--nw-color-blackAlpha-50);
}

.dividing-main {
  padding-right: 10px;
}
.dividing-content {
  margin: 0;
  background-color: #aaaaaa;
  height: 1px;
  border: none;
}

.no-select {
  user-select: none;
}
