.sidebar-main {
  width: 200px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.broadcast-main {
  padding-top: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.broadcast-content {
  padding: 10px;
  background-color: var(--nw-color-blackAlpha-50);
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}
.broadcast-content:hover {
  background-color: var(--nw-color-blackAlpha-100);
}

.user-main {
  margin: 10px 0px;
  padding-right: 10px;
  box-sizing: border-box;
}
.user-content {
  padding: 10px;
  background-color: red;
  border-radius: 5px;
}

.filesystem-main {
  margin: 10px 0px;
  padding-right: 10px;
  box-sizing: border-box;
}
.filesystem-content {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.filesystem-item {
  padding: 5px;
  border-radius: 5px;
  background-color: red;
}

.dividing-main {
  padding-right: 10px;
}
.dividing-content {
  margin: 0;
  background-color: #aaaaaa;
  height: 1px;
  border: none;
}
