.next-writer-outline-wrapper {
  box-sizing: border-box;
  width: 300px;
  padding: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 0px;

  .next-writer-outline-content {
    margin-top: 40px;

    .next-writer-outline-item {
      padding-block: 4px;
      padding-inline: 8px;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
}
