.next-writer-outline-wrapper {
  box-sizing: border-box;
  width: 240px;
  padding: 16px;
  border-left: 1px solid var(--nw-border-color);
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 0px;
  color: var(--nw-text-primary);
  background-color: var(--nw-sidebar-bg);

  .next-writer-outline-content {
    overflow: auto;
    height: calc(100% - 40px);

    .next-writer-outline-item {
      padding-block: 4px;
      padding-inline: 8px;

      &:hover {
        cursor: pointer;
        background-color: var(--nw-hover-bg);
      }
    }
  }

  .next-writer-outline-head {
    height: 40px;
    display: flex;
    align-items: center;
    padding-inline: 8px;
    font-weight: bold;
  }
}
