.main-wrapper {
  min-width: 0;
  background-color: white;
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100vh;
  box-sizing: border-box;

  .main-header {
    width: 100%;
    max-width: 680px;
    margin-top: 40px;
    margin-inline: auto;
    padding-bottom: 16px;
    cursor: default;
  }
}

/* When overflow is enable in the parent container, the border of initial codemirror style will not be visible. It's quite strange*/
.next-writer-editor-wrapper {
  flex-grow: 1;
  overflow: auto;
  box-sizing: border-box;
  padding: 1px; // To show codemirror initial border
}
