.main-wrapper {
  min-width: 0;
  background-color: white;
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100vh;
  box-sizing: border-box;

  .main-header {
    width: 100%;
    max-width: 680px;
    margin-top: 40px;
    margin-inline: auto;
    padding-bottom: 16px;
    cursor: default;

    ._next_writer-typography-edit-content {
      margin-bottom: 0.5em;
      inset-inline-start: unset;
    }

    textarea {
      border: none;
      box-shadow: none;
      padding: 0;
      min-height: unset;
    }
  }
}

/* When overflow is enable in the parent container, the border of initial codemirror style will not be visible. It's quite strange*/
.next-writer-editor-wrapper {
  flex-grow: 1;
  overflow: auto;
  box-sizing: border-box;
  margin-inline: -16px;
  min-height: 0;
  font-size: var(--nw-editor-font-size);
  font-family: var(--nw-editor-font-family);

  .cm-scroller {
    padding-inline: 16px;
  }
}
